.header{
    background:#000;
    @include transition(.3s ease);
    transition: .3s ease;
    &.pinned {
        transform: translateY(0%);
        transition: .3s;
    }
    &.unpinned {
        transform: translateY(-100%);
        transition: .3s;
    }
    &.sticky{
        background: rgba(0,0,0,0.5);
        padding-bottom: 0px !important;
        padding-top: 0px !important;
        opacity: .95;
        // @include media-max(md){
        //     padding-bottom: 0px;
        //     padding-top: 0px;
        // }
        // @include media-max(sm){
        //     padding-bottom: 0px;
        //     padding-top: 0px;
        // }
    }
    nav{
        // img{
        //     @include transform (scale(.8));
        //     @include transition(.3s);
        //     @include media-max(lg){
        //         @include transform (scale(.65));
        //         @include transition(.3s);
        //     }
        // }
        .container{
            // @include relative();
            // @include media-max(md){
            //     width:100%;
            // }
            // .navbar-brand{
            //     img{
            //         max-width:225px;
            //         @include media-max(lg){
            //             margin-top:0px;
            //             max-width:170px;
            //         }
            //         @include media-max(md){
            //             margin-top:0px;
            //             max-width:190px;
            //             margin-left:-15px;
            //         }
            //     }
            // }
            .navbar-toggler{
                width: 50px;
                height: 50px;
                border:none;
                margin-right:20px;
                // @include borderRadius(0);
                &:hover{
                    // background:map-get($headerGroup,'lg-hover-color');
                }
                // @include hamburger-style('rotate-x');
            }
        }
    }  
}

// @include keyframes(dropdownFadeIn){
//     0%{
//         // @include opacity(0);
//         top:20px;
//     }
//     100%{
//         // @include opacity(1);
//         top:25px;
//     }
// }