.header{
    background: $gray-500;
    position: fixed;
    transition: .3s ease;
    width: 100%;
    &.pinned {
        transform: translateY(0%);
        transition: .3s;
    }
    &.unpinned {
        transform: translateY(-100%);
        transition: .3s;
    }
    &.sticky{
        background: rgba($gray-500 ,0.8);
        padding-bottom: 0px !important;
        padding-top: 0px !important;
        opacity: .95;
        // @include media-max(md){
        //     padding-bottom: 0px;
        //     padding-top: 0px;
        // }
        // @include media-max(sm){
        //     padding-bottom: 0px;
        //     padding-top: 0px;
        // }
    }
    .container{
        @include media-max(lg){
            max-width: 100% !important;
        }
        .navbar-content{
            @include media-max(lg){
                width: calc(100% - 60px);
            }
        }
    }
    .material-icons-outlined, .material-icons{
        color: white;
        transition: .3s;
        &:hover{
            color: $primary;
            transition: .3s;
            // text-shadow: 0px 2px 5px #8A6F43;
        }
    }
    .unread-message{
        box-shadow: 2px 2px 5px #923C3C;
    }
    .navbar-tool{
        @include media-max(sm){
            width: calc(100% - 50 - 100);
        }
    }
    .navbar-toggler{
        width: 60px;
        height: 60px;
        border:none;
        // @include borderRadius(0);
        &:hover{
            // background:map-get($headerGroup,'lg-hover-color');
        }
        // @include hamburger-style('rotate-x');
    }
    .navbar-nav{
        .nav-item{
            padding: 0 10px;
            position: relative;
            .nav-link{
                color: white !important;
                &:hover{
                    color: $primary !important;
                }
            }
            &:before{
                content: '';
                width: 0%;
                height: 3px;
                background: $secondary;
                position:absolute;
                left: 50%;
                bottom: 0;
                transition: .3s;
            }
            &:after{
                content: '';
                width: 0%;
                height: 3px;
                background: $secondary;
                position:absolute;
                right: 50%;
                bottom: 0;
                transition: .3s;
            }
            &:hover{
                transition: .3s;
                .item-new-image{
                    img{
                        transition: .3s;
                        transform: scale(1.2);
                    }
                }
                &:before{
                    content: '';
                    height: 3px;
                    position:absolute;
                    left: 50%;
                    bottom: 0;
                    width: 30%;
                    background: $secondary;
                    animation-name: menuLine;
                    animation-duration: .3s;
                    animation-timing-function: linear;
                    animation-iteration-count: 1;
                    animation-direction: forwards;
                }
                &:after{
                    content: '';
                    height: 3px;
                    position:absolute;
                    right: 50%;
                    bottom: 0;
                    width: 30%;
                    background: $secondary;
                    animation-name: menuLine;
                    animation-duration: .3s;
                    animation-timing-function: linear;
                    animation-iteration-count: 1;
                    animation-direction: forwards;
                }
            }
        }
    }
    // 購物車
    .cart{
        &:hover{
            .cart-list{
                display: block;
            }
        }
        // 購物清單
        .cart-list{
            display: none;
            width: 400px;
            right: -100px;
            .item-cart-list{
                overflow: auto;
                max-height: 400px;
                li{
                    background: rgba(222,222,222,0.3);
                }
            }
            .item-cart-pic{
                background: url('../image/bg-hot-product.png');
                background-size: cover;
                min-width: 120px;
                width: 120px;
                height: 90px;
                display: block;
            }
        }
    }
}

// slick
.slider{
    margin: 0 -47.5%;
    .slick-arrow{
        position: absolute !important;
        width: 60px;
        height: 60px;
        background-color: #fff;
        opacity: 0.5;
        transition: opacity 0.5s;
        display: block;
        margin-top: -20px;
        top: 50%;
        border-radius: 50%;
        &:hover{
            opacity: 1;
        }
    }
    .slick-prev{
        left: 33% !important;
        z-index: 1;
        @include media-max(sm){
            left: 0 !important;
        }
    }
    .slick-next{
        right: 33% !important;
        z-index: 1;
        @include media-max(sm){
            right: 0 !important;
        }
    }
    .slick-slide{
        a{
            position: relative;
            &:after{
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                background: rgba(0, 0, 0, 0.5);
                width: 100%;
                height: 100%;
                transition: .3s;
            }
        }
    }
    .slick-slide.slick-current.slick-active.slick-center{
        a{
            position: relative;
            &:after{
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                background: rgba(0, 0, 0, 0);
                width: 100%;
                height: 100%;
                transition: .3s;
            }
        }
    }
}

@keyframes menuLine {
    0%{
        width: 0%;
    }
    100%{
        width: 30%;
    }
}

// @include keyframes(dropdownFadeIn){
//     0%{
//         // @include opacity(0);
//         top:20px;
//     }
//     100%{
//         // @include opacity(1);
//         top:25px;
//     }
// }