.header{
    background: $gray-500;
    position: fixed;
    transition: .3s ease;
    width: 100%;
    &.pinned {
        transform: translateY(0%);
        transition: .3s;
    }
    &.unpinned {
        transform: translateY(-100%);
        transition: .3s;
    }
    &.sticky{
        background: rgba($gray-500 ,0.8);
        padding-bottom: 0px !important;
        padding-top: 0px !important;
        opacity: .95;
        // @include media-max(md){
        //     padding-bottom: 0px;
        //     padding-top: 0px;
        // }
        // @include media-max(sm){
        //     padding-bottom: 0px;
        //     padding-top: 0px;
        // }
    }
    .container{
        @include media-max(lg){
            max-width: 100% !important;
        }
        .navbar-content{
            margin-bottom: 16px;
            @include media-max(lg){
                width: calc(100% - 60px);
                margin-bottom: 0px;
            }
        }
    }
    .material-icons-outlined, .material-icons{
        color: white;
        transition: .3s;
        &:hover{
            color: $primary;
            transition: .3s;
            // text-shadow: 0px 2px 5px #8A6F43;
        }
    }
    .unread-message{
        box-shadow: 2px 2px 5px #923C3C;
    }
    .navbar-tool{
        .tool-bottom{
            width: 120px;
        }
        @include media-max(sm){
            width: calc(100% - 50 - 100);
        }
    }
    .logo{
        display: block;
        width: 100%;
        @include media-max(lg){
            width: 120px;
            margin-left: 10px;
        }
        a{
            left: 50%; 
            transform:translate(-50%);
            max-width: 180px;
            @include media-max(lg){
                left: 0%; 
                transform:translate(0%);
                max-width: 100px;
            }
        }
        // height: 70px;
        // display: block;
        // width: 70px;
        // @include media-max(lg){
        //     height: auto;
        // }
    }
    .navbar-toggler{
        width: 60px;
        height: 60px;
        border:none;
        background:rgba(0,0,0,0.1);
        // @include borderRadius(0);
        &:hover{
            // background:map-get($headerGroup,'lg-hover-color');
        }
        @include hamburger-style('rotate-x');
    }
    .navbar-nav{
        @include media-max(lg){
            height: 100vh;
        }
        .nav-item{
            padding: 0 10px;
            position: relative;
            .nav-link{
                color: white !important;
                &:hover{
                    color: $primary !important;
                }
            }
            &:before{
                content: '';
                width: 0%;
                height: 3px;
                background: $secondary;
                position:absolute;
                left: 50%;
                bottom: 0;
                transition: .3s;
                @include media-max(lg){
                    display: none;
                }
            }
            &:after{
                content: '';
                width: 0%;
                height: 3px;
                background: $secondary;
                position:absolute;
                right: 50%;
                bottom: 0;
                transition: .3s;
                @include media-max(lg){
                    display: none;
                }
            }
            &:hover{
                transition: .3s;
                .item-new-image{
                    img{
                        transition: .3s;
                        transform: scale(1.2);
                    }
                }
                &:before{
                    content: '';
                    height: 3px;
                    position:absolute;
                    left: 50%;
                    bottom: 0;
                    width: 30%;
                    background: $secondary;
                    animation-name: menuLine;
                    animation-duration: .3s;
                    animation-timing-function: linear;
                    animation-iteration-count: 1;
                    animation-direction: forwards;
                    @include media-max(lg){
                        display: none;
                    }
                }
                &:after{
                    content: '';
                    height: 3px;
                    position:absolute;
                    right: 50%;
                    bottom: 0;
                    width: 30%;
                    background: $secondary;
                    animation-name: menuLine;
                    animation-duration: .3s;
                    animation-timing-function: linear;
                    animation-iteration-count: 1;
                    animation-direction: forwards;
                    @include media-max(lg){
                        display: none;
                    }
                }
            }
        }
    }
    // 購物車、收藏清單
    .cart, .bookmark-card{
        &:hover{
            .cart-list,.bookmark-list{
                display: block;
            }
            &:before{
                content: '';
                position: absolute;
                display: block;
                top: 13px;
                left: 10px;
                border-style: solid;
                border-width: 0 10px 10px 10px;
                border-color: transparent transparent white transparent;
            }
        }
        // 購物清單
        .cart-list,.bookmark-list{
            display: none;
            width: 375px;
            right: -100px;
            .item-cart-list, .item-bookmark-list{
                overflow: auto;
                max-height: 400px;
                li{
                    background: rgba(222,222,222,0.3);
                }
            }
            .item-cart-pic,.item-bookmark-pic{
                background: url('../image/2.jpg');
                background-size: cover;
                min-width: 120px;
                width: 120px;
                height: 90px;
                display: block;
            }
        }
        .bookmark-list{
            right: -25px;
            @include media-max(lg){
                right: -60px;
            }
        }
    }
}

@keyframes menuLine {
    0%{
        width: 0%;
    }
    100%{
        width: 30%;
    }
}

// @include keyframes(dropdownFadeIn){
//     0%{
//         // @include opacity(0);
//         top:20px;
//     }
//     100%{
//         // @include opacity(1);
//         top:25px;
//     }
// }