.pagination {
  .page-item {
    .page-link {
      color: white;
      transition: 0.3s;
      background-color: rgba(255, 255, 255, 0.1);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      &:hover {
        transition: 0.3s;
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
    &.active {
      .page-link {
        background: rgba(255, 255, 255, 0.3);
        border: 1;
        border-color: white;
      }
    }
  }
}
